GenericGenevaClock/GenericGenevaClock.ino.bak
GenericGenevaClock/GenevaClockMechanics.h.bak
STL Files/Back.factory
STL Files/Bolts Axels Cam Bracket.factory
STL Files/Bolts.factory
STL Files/Face_Black.factory
STL Files/Face_Black_Posts.factory
STL Files/Face_White.factory
STL Files/Gears.factory
STL Files/Geneva_Clock_Box.factory
STL Files/Geneva_Clock_Box_Lid.factory
STL Files/Geneva_x.factory
STL Files/Geneva_x_Black.factory
STL Files/Geneva_x_White.factory
